brotlipy==0.7.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cryptography==3.2.1
idna==2.10
pip==20.3.1
praw==7.1.0
prawcore==1.5.0
pycparser==2.20
pyOpenSSL==20.0.0
PySocks==1.7.1
requests==2.25.0
schedule==0.6.0
setuptools==51.0.0.post20201207
six==1.15.0
update-checker==0.18.0
urllib3==1.25.11
websocket-client==0.57.0
wheel==0.36.1
